.App {
  text-align: center;
}

.category {
  margin: 20px;
}

/*5tabs************/

.info-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

.info-btn:hover {
  color: var(--clr-primary-5);
  box-shadow: 0 2px var(--clr-primary-5);
}

.active {
  background-color: aqua;
  color: var(--clr-primary-5);
  box-shadow: 0 2px var(--clr-primary-5);
}